.clockApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.bgContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/images/mobile/bg-image-daytime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto;
}

.dayTime {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/images/mobile/bg-image-daytime.jpg);
}

.nightTime {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/images/mobile/bg-image-nighttime.jpg);
}

.mainClockContainer {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.otherHeight {
  height: 411px;
}

@media (min-width: 768px) {
  .bgContainer.dayTime {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../public/images/tablet/bg-image-daytime.jpg);
  }

  .bgContainer.nightTime {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../public/images/tablet/bg-image-nighttime.jpg);
  }

  .mainClockContainer {
    width: 768px;
    height: 1024px;
  }

  .otherHeight {
    height: 584px;
  }
}

@media (min-width: 1440px) {
  .bgContainer.dayTime {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../public/images/desktop/bg-image-daytime.jpg);
  }

  .bgContainer.nightTime {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../public/images/desktop/bg-image-nighttime.jpg);
  }

  .mainClockContainer {
    width: 1440px;
    height: 800px;
  }

  .otherHeight {
    height: 400px;
  }
}
